<div id="archive">
    <div class="container">
        <div ncy-breadcrumb ng-if="$state.current.name!=='archive'"></div>
        <div ng-if="$state.current.name==='archive'" class="clear clearfix ">
            <div class="position-relative">
                <div class="text-center">
                    <h3 style="width:100%;display:inline-block;word-break: break-word;white-space: normal;">Archive&nbsp;&nbsp;<i class="fas fa-rss" style="display:inline; color:orange"></i>&nbsp;&nbsp;Work in progress...</h3>
                </div>
                <div class="input-group input-group-sm col-md-3 col-xs-12 position-absolute" style="right: 0;bottom: 0;">
                    <input type="text" class="form-control" placeholder="Search" ng-model="searchField" autocomplete="off" />
                    <span class="input-group-addon search-addon"><i class="fa fa-search"></i></span>
                </div>
            </div>
            <hr class="margin-top-5">
            <div class="tag-container row text-center">
                <span class="post-tag" ng-repeat="artical in articals | orderBy: 'title' | filter: searchField">
                    <a ui-sref="{{artical.ui_sref}}">
                        <i class="fas fa-tag"></i>
                        <span ng-bind="::artical.title"></span>
                    </a>
                </span>
                <div ng-if="!(articals | filter: searchField).length" style="color:#adabab;margin-top: 20px;"><i class="fas fa-exclamation-triangle fa-lg"></i>&nbsp;<strong>No artical found. </strong></div>
                <hr>
            </div>
        </div>
        <br>
        <ui-view></ui-view>
    </div>
</div>