$white: #fff;
$anchor-link-color: #999;
$base-color: #44c7f5;

.base-color{
    color: $base-color;
}

#ui-view,
body{
    //border-top: 3px solid $base-color;
    width: 100%;
    height: 100%;
    color: $white !important;
    font-family: "Karla","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    line-height: 2em;
    letter-spacing: 0.1em;
    word-break: break-word;
    white-space: nowrap;
}
body{
    background: url(../img/table1.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    overflow-y: scroll;
}

.nav{
    padding-left: 12%;
    padding-right: 12%;
    margin: 0;
    ul{
        margin: 0;
        li{   
          list-style: none;
        }
    }
    .text-right li{
        a{
            margin-left: 10%;
        }
    }
    a{
        font-size: 13px;
        text-decoration: none;
        color: $white;
        &:focus,
        &:hover{
            color: $base-color;
            text-decoration: none !important
        }
    }
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.cursor-pointer{
    cursor: pointer;
}

section{
    position: absolute;
    width: inherit;
    height: inherit;
    margin: 0 auto;
    z-index: 9;
    white-space: normal;
    word-wrap: break-word;
    
    a{
        color: $base-color;
        &:focus,
        &:hover{
            color: $base-color;
        }
    }
    .panel{
        height: inherit; 
        position: relative;
        background: transparent;
        .row{
            text-transform: uppercase;
        }

        .me{
            border: 2px solid #44c7f5;
            height: 33%;
            border-radius: 15rem;
            margin: 0 auto;
            margin-top: 4%
        }

        .img-box{
            margin: 0 auto;
            position: absolute;
            background: url(../img/me.png) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            transform: translateZ(0);
            -moz-transform: translateZ(0);
            -webkit-transform: translateZ(0);
        }
        h3{
            margin: 10px 0;
            font-weight: 600;
            font-family: monospace !important;
        }
    }
}

.row {
    padding: 0px;
    margin: 0;
    width: 100%;
}


h3{
    font-size: 20px;
}
.anchor-border a{
    color: #fff;
    cursor: pointer !important;
    margin-right: 1.2rem;
    text-decoration: none !important;
    border: 2px solid #fff;
    padding: 14px 28px 14px 14px;
    border-radius: 22px;
    position: relative;
    line-height: 1.3em;
    text-align: center;
    &:hover{
        color: $base-color; 
        border-color: $base-color;
    }
}

.far,
.fab{
    cursor: pointer;
    font-size: 14px;
    z-index: 99;
    margin: 0 auto;
    position: absolute; 
}

footer{
    z-index: 99;
    position: absolute;
    width: 100%;
    bottom: 0;
    border-bottom: 3px solid $base-color;
    word-break: break-word;
    white-space: normal;
    font-size: 12px !important;
}

//mobile

@media only screen and (max-width: 599px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
    .nav{
        font-size: 12px;
        padding-left: 0;
        padding-right: 0;
        margin: 10px;
        ul{
            margin: 0;
        }
        .text-right li{
            a{
                padding-left: 2%;
            }
        }
    }
    .anchor-border a{
        margin-left: 8px;
        margin-right: 8px;
    }
    h3 + h6{
        font-size: 11px !important;
    }
    body{
        line-height: 1em;
    }
    .me{
        height: 25% !important;
    }
    footer{
        padding-left: 5px;
        padding-right: 5px;
    }
    h3{
        font-size: 18px !important;
    }
}
//mobile screen
@media only screen and (max-width: 340px) {
    .anchor-border a{
        margin-left: 8px;
        margin-right: 8px;
        padding: 6px 22px 6px 8px;
    }
    .row{
        padding: 3px;
    }
    
}
//mobile screen
@media only screen and (max-width: 250px) {
    .anchor-border a{
        border: none;
        padding: 6px 22px 6px 8px;
    }
    .row{
        padding: 2px;
    }
}

//desktop
@media only screen and (min-width: 600px){
    body{
        font-size: 16px;
    }

    h3 + h6{
        font-size: 12px !important;
    }
}