$white: #fff;
$anchor-link-color: #999;
$base-color: #44c7f5;

body{
    //border-top: 3px solid $base-color;
    width: 100%;
    height: 100%;
    color: $white;
    background-color: $white;
    font-family: "Karla","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    line-height: 2em;
    letter-spacing: 0.1em;
    word-break: break-word;
    white-space: nowrap;
}

.base-color{
    color: $base-color;
}

.cursor-pointer{
    cursor: pointer;
}

section{
    position: absolute;
    width: 100%;
    height: 94%;
    margin: 0 auto;
    z-index: 9;
    overflow-y: scroll;
    white-space: normal;
   word-wrap: break-word;
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    background: url(../img/table1.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .panel{
        height: inherit; 
        position: relative;
        background: transparent;
        .row{
            text-transform: uppercase;
        }

        .me{
            border: 2px solid $base-color;
            height: 40%;
            border-radius: 3px;
            margin: 0 auto;
            margin-top: 5%;
        }

        .img-box{
            margin: 0 auto;
            position: absolute;
            background: url(../img/me.png) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            transform: translateZ(0);
            -moz-transform: translateZ(0);
            -webkit-transform: translateZ(0);
        }
        h3{
            margin: 10px 0;
            font-weight: 600;
            font-family: monospace !important;    
        }
    }
}

.row {
    padding: 0px;
    margin: 0;
    width: 100%;
}

a{
    color: $base-color;
    &:focus,
    &:hover{
        color: $base-color;
    }
}

.anchor-border a{
    color: $white;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-decoration: none !important;
    border: 2px solid $white;
    border-radius: 2px;
    padding: 0px 21px 14px 8px;
    line-height: 0em;    
    border-radius: 2px;    
    position: relative;    
    line-height: 0px;
    &:hover{
        color: $base-color; 
        border-color: $base-color;
    }
}

.far,
.fab{
    cursor: pointer;
    font-size: 14px;
    z-index: 99;
    margin: 0 auto;
    position: absolute; 
}

footer{
    z-index: 99;
    background: $white;
    position: fixed;
    width: 100%;
    color: #000 !important;
    bottom: 0;
    border-bottom: 3px solid $base-color;
}

//mobile
@media only screen and (max-width: 599px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
    .anchor-border a{
        margin-left: 5px;
        margin-right: 5px;
    }
    h3{
        font-size: 20px !important;
    }
    h6{
        font-size: 11px !important;
    }
}

//desktop
@media only screen and (min-width: 600px){
    body{
        font-size: 16px !important;
    }
}